{% extends 'MyInventoryApp/base.html' %} {% block title %}My Water Bottles{% endblock %} {% block content %}
<div class="container-fluid">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Brand</th>
          <th>Price</th>
          <th>Size</th>
          <th>Type</th>
          <th>Color</th>
          <th>Supplier</th>
          <th>Stock</th>
        </tr>
      </thead>
      <tbody>
        {% for bottle in bottles %}
        <tr {% if forloop.counter|divisibleby:2 %}class="bg-light" {% endif %}>
          <td>{{ bottle.sku }}</td>
          <td>{{ bottle.brand }}</td>
          <td>{{ bottle.cost|floatformat:2 }}</td>
          <td>{{ bottle.size }}</td>
          <td>{{ bottle.mouthSize }}</td>
          <td>{{ bottle.color }}</td>
          <td>{{ bottle.suppliers.name }}</td>
          <td>{{ bottle.currentQuantity }}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="8" class="text-center">No water bottles available.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

 
</div>
{% endblock %}
